<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../partials/head %>
    </head>

  <body>
    <%- include('../partials/nav', { active: 'index' }) %>
    <div class="container">
      
      <br>
      
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-6">
            <h1 class="page-title display-5">Impressum</h1>
            
            <h2>Anbieterkennzeichnung</h2>
<h3>Kontaktdaten</h3>
<p>Hochschule f&uuml;r Technik Stuttgart<br />Schellingstr. 24<br />70174 Stuttgart<br />Deutschland<br />Telefon +49 (0)711 8926 2660<br />Fax +49 (0)711 8926 2666<br /><a href="mailto:rektorat@hft-stuttgart.de">rektorat@hft-stuttgart.de</a><br /><a href="http://www.hft-stuttgart.de/">www.hft-stuttgart.de</a></p>
<h3>Gesetzlicher Vertreter</h3>
<p>Die Hochschule f&uuml;r Technik Stuttgart ist eine K&ouml;rperschaft des &ouml;ffentlichen Rechts.<br />Sie wird durch den Rektor Prof. Rainer Franke gesetzlich vertreten.<br /><a href="mailto:rektorat@hft-stuttgart.de">rektorat@hft-stuttgart.de</a></p>
<h3>Umsatzsteuer-Identifikationsnummer</h3>
<p>gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz: DE 811 579 497</p>
<h2>Zust&auml;ndige Aufsichtsbeh&ouml;rde</h2>
<p>Ministerium f&uuml;r Wissenschaft, Forschung und Kunst Baden-W&uuml;rttemberg<br />K&ouml;nigstr. 46<br />70173 Stuttgart<br />Deutschland</p>
<h2>Fotograf</h2>
<p>Gro&szlig;aufnahmen auf den Hauptseiten: Florian Hammerich</p>
<h2>Umsetzung und inhaltliche Betreuung der HFT Stuttgart-Homepage</h2>
<p>Referat Presse und Marketing<br />Petra Dabelstein<br />Telefon +49 (0)711 8926 2864<br /><a href="mailto:presse@hft-stuttgart.de">presse@hft-stuttgart.de</a></p>
<h2>Urheberrechtshinweis</h2>
<p>Bitte beachten Sie, dass alle Texte, Bilder und Grafiken sowie ihre Arrangements dem Schutz des Urheberrechts unterliegen. Sie d&uuml;rfen damit weder kopiert, ver&auml;ndert noch auf anderen Web-Sites verwendet werden. Der Nutzung der allgemein zug&auml;nglichen Texte durch Dritte stimmen wir hiermit &ndash; auch auszugsweise &ndash; nur unter der Bedingung zu, dass die Hochschule f&uuml;r Technik Stuttgart als Urheber genannt wird. Die Nutzung der anderen Inhalte, wie Grafiken und Bilder sind nicht gestattet. Sollten Sie jedoch Interesse an einem Nutzungsrecht haben, wenden Sie sich bitte an folgende Adresse:&nbsp;<a href="mailto:presse@hft-stuttgart.de">presse@hft-stuttgart.de</a>. Fotokopien und Downloads von den Web-Seiten f&uuml;r den privaten, wissenschaftlichen und nicht kommerziellen Gebrauch d&uuml;rfen hergestellt werden.</p>
<h2>Haftungsausschluss</h2>
<ol>
<li>
<h3>Inhalt des Onlineangebotes</h3>
<p>Der Autor &uuml;bernimmt keinerlei Gew&auml;hr f&uuml;r die Aktualit&auml;t, Korrektheit, Vollst&auml;ndigkeit oder Qualit&auml;t der bereitgestellten Informationen. Haftungsanspr&uuml;che gegen den Autor, welche sich auf Sch&auml;den materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollst&auml;ndiger Informationen verursacht wurden, sind grunds&auml;tzlich ausgeschlossen, sofern seitens des Autors kein nachweislich vors&auml;tzliches oder grob fahrl&auml;ssiges Verschulden vorliegt. Alle Angebote sind freibleibend und unverbindlich. Der Autor beh&auml;lt es sich ausdr&uuml;cklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ank&uuml;ndigung zu ver&auml;ndern, zu erg&auml;nzen, zu l&ouml;schen oder die Ver&ouml;ffentlichung zeitweise oder endg&uuml;ltig einzustellen.</p>
</li>
<li>
<h3>Verweise und Links</h3>
<p>Bei direkten oder indirekten Verweisen auf fremde Internetseiten (&bdquo;Links&ldquo;), die au&szlig;erhalb des Verantwortungsbereiches des Autors liegen, kann eine Haftungsverpflichtung alenfalls in dem Fall in Kraft treten, in dem der Autor von den Inhalten Kenntnis hat und es ihm technisch m&ouml;glich und zumutbar w&auml;re, die Nutzung im Falle rechtswidriger Inhalte zu verhindern. Der Autor erkl&auml;rt hiermit ausdr&uuml;cklich, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. Auf die aktuelle und zuk&uuml;nftige Gestaltung, die Inhalte oder die Urheberschaft der gelinkten/ verkn&uuml;pften Seiten hat der Autor keinerlei Einfluss. Deshalb distanziert er sich hiermit ausdr&uuml;cklich von allen Inhalten aller verlinkten/ verkn&uuml;pften Seiten, die nach der Linksetzung ver&auml;ndert wurden. Diese Feststellung gilt f&uuml;r alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie f&uuml;r Fremdeintr&auml;ge in vom Autor eingerichteten G&auml;steb&uuml;chern, Diskussionsforen und Mailinglisten. F&uuml;r illegale, fehlerhafte oder unvollst&auml;ndige Inhalte und insbesondere f&uuml;r Sch&auml;den, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der &uuml;ber Links auf die jeweilige Ver&ouml;ffentlichung lediglich verweist.</p>
</li>
<li>
<h3>Urheber- und Kennzeichenrecht</h3>
<p>Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von ihm selbst erstellte Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zur&uuml;ckzugreifen. Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte gesch&uuml;tzte Marken- und Warenzeichen unterliegen uneingeschr&auml;nkt den Bestimmungen des jeweils g&uuml;ltigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigent&uuml;mer. Allein aufgrund der blo&szlig;en Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter gesch&uuml;tzt sind! Das Copyright f&uuml;r ver&ouml;ffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten. Eine Vervielf&auml;ltigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdr&uuml;ckliche Zustimmung des Autors nicht gestattet.</p>
</li>
<li>
<h3>Rechtswirksamkeit dieses Haftungsausschlusses</h3>
<p>Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollst&auml;ndig entsprechen sollten, bleiben die &uuml;brigen Teile des Dokumentes in ihrem Inhalt und ihrer G&uuml;ltigkeit davon unber&uuml;hrt.</p>
</li>
</ol>
<p>Quelle: www.Juraforum.de, Stand: Juli 2014</p>
<h2>Datenschutz</h2>
<p><a href="https://www.hft-stuttgart.de/Einrichtungen/Datenschutz/Datenschutz-Homepage/index.html">Hinweise zum Datenschutz</a></p>
        </div>
      </div>
      
    </div>

  </body>
</html>
